# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=muebles_db
DB_PORT=5432

# App
NODE_ENV=development
JWT_SECRET=cambia-esto-en-produccion-con-valor-seguro

# Frontend
REACT_APP_API_URL=http://localhost:3001